<div class="container" nz-flex nzJustify="center" nzAlign="center">
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="24" class="card__avatar">
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="120"
          nzIcon="Logo Keririn"
          nzSrc="../../../../assets/Logo_Keririn_Sin_Fondo1.png"
        ></nz-avatar>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <h1 nz-typography class="card__title">Registrarse</h1>
      </div>
    </div>
    <form
      nz-form
      [formGroup]="validateForm"
      class="register-form"
      (ngSubmit)="submitForm()"
    >
      <div nz-row>
        <div nz-col nzSpan="12">
          <validate-input
            formControlName="nameUser"
            id="name"
            [formControl]="validateForm.controls['nameUser']"
            errorTip="Porfavor, ingresa tu nombre!"
            icon="user"
            placeholder="Ingresa tu nombre"
            label="Nombre"
          ></validate-input>
        </div>
        <div nz-col nzSpan="12">
          <custom-datepicker
            id="birthdayDate"
            [formControl]="validateForm.controls['birthdayDate']"
            formControlName="birthdayDate"
            placeholder="Seleccionar fecha de nacimiento"
            errorTip="Porfavor, ingresa tu fecha de nacimiento!"
            label="Fecha de nacimiento"
          ></custom-datepicker>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Porfavor, Ingresa tu contraseña!">
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  nz-input
                  type="password"
                  formControlName="password"
                  placeholder="Ingresa tu contraseña"
                />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span
                  nz-icon
                  [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"
                ></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button class="card__button" (click)="goToLogin()">
          Registarse
        </button>
      </div>
    </div>
  </nz-card>
</div>
