<div class="container" nz-flex nzJustify="center" nzAlign="center">
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="24" class="card__avatar">
        <nz-avatar
          class="card__avatar_img"
          [nzShape]="'square'"
          nzIcon="Logo Keririn"
          nzSrc="../../../../assets/Logo_Keririn_Sin_Fondo1.png"
        ></nz-avatar>
      </div>
    </div>
    <div nz-row class="card__row_title">
      <div nz-col nzSpan="24">
        <h1 nz-typography class="card__title">Registrarse</h1>
      </div>
    </div>
    <form
      nz-form
      [formGroup]="validateForm"
      class="register-form"
      (ngSubmit)="submitForm()"
    >
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="12">
          <validate-input
            formControlName="name"
            id="name"
            [formControl]="validateForm.controls['name']"
            errorTip="Porfavor, ingresa tu nombre!"
            icon="user"
            placeholder="Ingresa tu nombre"
            label="Nombre"
            [errors]="errorsName"
          ></validate-input>
        </div>
        <div nz-col nzXs="24" nzSm="12">
          <custom-datepicker
            id="birthdayDate"
            [formControl]="validateForm.controls['birthdayDate']"
            formControlName="birthdayDate"
            placeholder="Seleccionar fecha de nacimiento"
            errorTip="Porfavor, ingresa tu fecha de nacimiento!"
            label="Fecha de nacimiento"
            [isDisabledDate]="true"
          ></custom-datepicker>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="12">
          <validate-input
            formControlName="email"
            id="email"
            [formControl]="validateForm.controls['email']"
            errorTip="Porfavor, ingresa tu correo electrónico!"
            icon="mail"
            placeholder="Ingresa tu correo electrónico"
            label="Correo electrónico"
            [errors]="errorsEmail"
          ></validate-input>
        </div>
        <div nz-col nzXs="24" nzSm="12">
          <validate-select
            formControlName="gender"
            id="gender"
            [formControl]="validateForm.controls['gender']"
            errorTip="Porfavor, ingresa tu género!"
            placeholder="Ingresa tu género"
            label="Género"
            [items]="listGenders"
          ></validate-select>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="12">
          <password-form-input
            formControlName="password"
            id="password"
            [formControl]="validateForm.controls['password']"
            placeholder="Ingresa tu contraseña"
            label="Contraseña"
            [formGroup]="validateForm"
            [errors]="errorsPassword"
          ></password-form-input>
        </div>
        <div nz-col nzXs="24" nzSm="12">
          <phone-input
            formControlName="phoneNumber"
            id="phoneNumber"
            [formControl]="validateForm.controls['phoneNumber']"
            errorTip="Porfavor, ingresa tu numero teléfonico!"
            icon="phoneNumber"
            placeholder="Ingresa tu numero teléfonico"
            label="Numero teléfonico"
            [submit]="submit"
          ></phone-input>
        </div>
      </div>
      <div nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="12">
          <password-form-input
            formControlName="repeatPassword"
            id="repeatPassword"
            [formControl]="validateForm.controls['repeatPassword']"
            placeholder="Ingresa nuevamente contraseña"
            label="Repetir contraseña"
            [repeatPassword]="true"
            [errors]="errorsRepeatPassword"
          ></password-form-input>
        </div>
        <div nzXs="24" nzSm="12"></div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <custom-button
            label="Registarse"
            class="card__contain_button"
            btnClass="medium-btn"
          ></custom-button>
        </div>
      </div>
    </form>
  </nz-card>
</div>
