<div class="container" nz-flex nzJustify="center" nzAlign="center">
  <nz-card class="card">
    <div nz-row>
      <div nz-col nzSpan="24" class="card__avatar">
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="120"
          nzIcon="Logo Keririn"
          nzSrc="../../../../assets/Logo_Keririn_Sin_Fondo1.png"
        ></nz-avatar>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <h1 nz-typography class="card__title">Registrarse</h1>
      </div>
    </div>
    <form
      nz-form
      [formGroup]="validateForm"
      class="register-form"
      (ngSubmit)="submitForm()"
    >
      <div nz-row>
        <div nz-col nzSpan="12">
          <validate-input
            formControlName="name"
            id="name"
            [formControl]="validateForm.controls['name']"
            errorTip="Porfavor, ingresa tu nombre!"
            icon="user"
            placeholder="Ingresa tu nombre"
            label="Nombre"
            [errors]="errorsName"
          ></validate-input>
        </div>
        <div nz-col nzSpan="12">
          <custom-datepicker
            id="birthdayDate"
            [formControl]="validateForm.controls['birthdayDate']"
            formControlName="birthdayDate"
            placeholder="Seleccionar fecha de nacimiento"
            errorTip="Porfavor, ingresa tu fecha de nacimiento!"
            label="Fecha de nacimiento"
            [isDisabledDate]="true"
          ></custom-datepicker>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <validate-input
            formControlName="email"
            id="email"
            [formControl]="validateForm.controls['email']"
            errorTip="Porfavor, ingresa tu correo electrónico!"
            icon="mail"
            placeholder="Ingresa tu correo electrónico"
            label="Correo electrónico"
            [errors]="errorsEmail"
          ></validate-input>
        </div>
        <div nz-col nzSpan="12">
          <validate-select
            formControlName="gender"
            id="gender"
            [formControl]="validateForm.controls['gender']"
            errorTip="Porfavor, ingresa tu género!"
            placeholder="Ingresa tu género"
            label="Género"
            [items]="listGenders"
          ></validate-select>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <password-form-input
            formControlName="password"
            id="password"
            [formControl]="validateForm.controls['password']"
            errorTip="Porfavor, ingresa tu contraseña!"
            placeholder="Ingresa tu contraseña"
            label="Contraseña"
          ></password-form-input>
        </div>
        <div nz-col nzSpan="12">
          <phone-input
            formControlName="phoneNumber"
            id="phoneNumber"
            [formControl]="validateForm.controls['phoneNumber']"
            errorTip="Porfavor, ingresa tu numero teléfonico!"
            icon="phoneNumber"
            placeholder="Ingresa tu numero teléfonico"
            label="Numero teléfonico"
          ></phone-input>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <password-form-input
            formControlName="repeatPassword"
            id="repeatPassword"
            [formControl]="validateForm.controls['repeatPassword']"
            errorTip="Porfavor, ingresa nuevamente tu contraseña!"
            placeholder="Ingresa nuevamente contraseña"
            label="Repetir contraseña"
            [repeatPassword]="true"
          ></password-form-input>
        </div>
        <div nz-col nzSpan="12"></div>
      </div>
    </form>
    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button class="card__button" (click)="goToLogin()">
          Registarse
        </button>
      </div>
    </div>
  </nz-card>
</div>
