@import '../../../styles/scss/variables.scss';
.container {
  background-color: #f1f2f2;
  width: 100%;
  height: 100vh;
}

.card {
  border-radius: 60px;
  width: 800px;
  &__avatar {
    display: flex;
    justify-content: center;
  }
  &__title {
    color: #0f2029;
    font-weight: bold;
    text-align: center;
  }
  &__contain_button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
