@import '../../../../styles/scss/variables.scss';
.content {
  padding: 30px;
  &__card {
    height: 100%;
  }
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: $font-light;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .content {
    padding: 0px;
    height: 100%;
  }
}
