@import '../../../../styles/scss/variables.scss';
::ng-deep .ant-input-affix-wrapper {
  border-radius: 10px;
  border: 1px solid $border-color;
  > .ant-input:not(textarea) {
    padding: 5px;
  }
}
