@import '../../../styles/scss/variables.scss';
button {
  color: $primary-color;
  font-weight: bold;
  padding-left: 5px;
  &:hover {
    color: $background-dark;
  }
}
::ng-deep .ant-btn-link:active {
  color: $primary-color;
}
::ng-deep .ant-btn-link:focus,
.ant-btn-link:hover {
  color: $background-dark;
}
