<nz-form-item>
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <nz-form-control
    [nzErrorTip]="errorTpl"
    [nzValidateStatus]="isValid()"
    nzHasFeedback
  >
    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
      <input
        [id]="id"
        [type]="passwordVisible ? 'text' : 'password'"
        type="password"
        nz-input
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInputChange($event)"
      />
    </nz-input-group>
    @if (!repeatPassword && this.formControl?.touched) {
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.lengthMinValidator
          )
        "
      >
        Minimo 8 caracteres.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.lengthMaxValidator
          )
        "
      >
        Maximo 15 caracteres.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.containMayus
          )
        "
      >
        Al menos una letra mayúscula.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.containMinus
          )
        "
      >
        Al menos una letra minuscula.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.containNumber
          )
        "
      >
        Al menos un dígito.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.noContainSpace
          )
        "
      >
        No espacios en blanco.
      </div>
      <div
        [ngClass]="
          validationService.getColorValidation(
            value,
            validationService.containSpecialCharacter
          )
        "
      >
        Al menos 1 caracter especial.
      </div>
    }
    <ng-template #errorTpl let-control>
      @if (this.formControl?.errors?.['required']) {
        {{ errors?.required }}
      }
      @if (this.formControl?.errors?.['confirm']) {
        {{errors?.confirm}}
      }
    </ng-template>
    <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></span>
    </ng-template>
  </nz-form-control>
</nz-form-item>
