<nz-form-item>
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <nz-form-control
    [nzErrorTip]="errorTip"
    [nzValidateStatus]="isValid()"
    nzHasFeedback
  >
    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
      <input
        [id]="id"
        [type]="passwordVisible ? 'text' : 'password'"
        type="password"
        nz-input
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInputChange($event)"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"
      ></span>
    </ng-template>
  </nz-form-control>
</nz-form-item>