<nz-form-item>
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <nz-form-control [nzErrorTip]="errorTip" [nzValidateStatus]="isValid()" nzHasFeedback>
    <nz-input-group [nzPrefixIcon]="icon">
      <input
        [id]="id"
        type="text"
        nz-input
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInputChange($event)"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
