<nz-form-item>
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <nz-form-control
    [nzErrorTip]="combineTpl"
    [nzValidateStatus]="isValid()"
    nzHasFeedback
  >
    <nz-input-group [nzPrefixIcon]="icon">
      <input
        [id]="id"
        type="text"
        nz-input
        [placeholder]="placeholder"
        [value]="value"
        (input)="onInputChange($event)"
      />
      <ng-template #combineTpl let-control>
        @if (this.formControl?.errors?.['maxlength']) {
          {{ errors?.maxLength }}
          <br />
        }
        @if (this.formControl?.errors?.['minlength']) {
          {{ errors?.minLength }}
          <br />
        }
        @if (this.formControl?.errors?.['required']) {
          {{ errors?.required }}
          <br />
        }
        @if (this.formControl?.errors?.['pattern']) {
          {{ errors?.pattern }}
          <br />
        }
      </ng-template>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
