@media only screen and (max-width: 720px) {
  .layout {
    position: relative;
    overflow: hidden;
    min-width: 100vw;
    &__sidebar {
      position: relative;
      overflow: hidden;
    }
  }
}
.layout {
  min-height: calc(100vh - 84px);
  &__sidebar {
    position: relative;
    overflow: hidden;
    background-color: white;
  }
  &__content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f1f2f2;
  }
}
