.nav {
  background-color: #218bc0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  &__logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    span {
      color: white;
    }
  }
  &__menu {
    color: white;
  }
}
