<nav class="nav">
  <div class="nav__logo">
    <button
      nz-button
      nzType="text"
      nzShape="circle"
      (click)="changeCollapsed((this.isCollapsed = !this.isCollapsed))"
    >
      <span nz-icon nzType="menu" nzTheme="outline"></span>
    </button>
    <nz-avatar
      nzIcon="user"
      [nzSize]="64"
      nzSrc="../../../assets/Logo_Keririn.png"
    ></nz-avatar>
  </div>
  @if (!hiddenCard) {
    <profile-card [card]="card" typeColor="light">
      <menu-popover typeColor="light" [icon]="card.icon"></menu-popover>
    </profile-card>
  }
</nav>
