.btn_dark {
  color: #0f2029;
  &:hover {
    background-color: #e9f4f9;
    box-shadow: inset 0px 0px 40px 40px #e9f4f9;
  }
}
.btn_light {
  color: white;
  &:hover {
    background-color: #3d98c6;
    box-shadow: inset 0px 0px 40px 40px #3d98c6;
  }
}
.popover {
  padding: 10px;
  border-radius: 50px;
  .ant-divider {
    margin: 20px 0px 5px 0px;
  }
  &__btn {
    color: #218bc0;
    border: 1px solid #218bc0;
    background-color: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    &:hover {
      background-color: #218bc0;
      color: white;
    }
  }
  &__menu {
    border-right: none !important;
    margin-bottom: 10px;
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border-right: none !important;
    }
    &__item {
      padding-left: 10px;
    }
    .ant-menu-item {
      border-radius: 10px;
      &:hover {
        background-color: #e9f4f9;
        color: #0f2029;
      }
      &.ant-menu-item-selected {
        background-color: #c9e3f0;
        color: #0f2029;
      }
    }
  }
}
::ng-deep .ant-popover-inner {
  border-radius: 20px !important;
}
::ng-deep .ant-menu-selected::after {
  border: none !important;
}
.ant-menu-inline .ant-menu-item::after,
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after {
  border: none !important;
}
