<button
  nz-button
  nz-popover
  nzType="text"
  nzShape="circle"
  [nzPopoverContent]="contentTemplate"
  nzPopoverPlacement="bottomRight"
  nzPopoverTrigger="click"
  [class]="typeColor === 'dark' ? 'btn_dark' : 'btn_light'"
>
  <span nz-icon [nzType]="icon" nzTheme="outline"></span>
</button>

<ng-template #contentTemplate>
  <div class="popover">
    <div nz-row>
      <div nz-col nzSpan="24">
        <profile-card [card]="card" typeColor="dark"></profile-card>
      </div>
    </div>
    <div nz-row>
      <nz-divider></nz-divider>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <ul class="popover__menu" nz-menu nzMode="inline">
          <li class="popover__menu__item" nz-menu-item>
            <span nz-icon nzType="idcard"></span>
            <span>Perfil</span>
          </li>
          <li nz-menu-item class="popover__menu__item">
            <span nz-icon nzType="setting"></span>
            <span>Configuración</span>
          </li>
        </ul>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button nzType="default" class="popover__btn">
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</ng-template>
