<nz-form-item>
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <div class="phone_input">
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      [nzErrorTip]="errorTip"
      [nzValidateStatus]="isValid()"
      nzHasFeedback
      class="control_phone"
    >
      @if (formControl) {
        <ngx-intl-tel-input
          [class]="classInput"
          [cssClass]="'intl-tel-input'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          searchCountryPlaceholder="Selecciona un pais"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Chile"
          [maxLength]="15"
          [phoneValidation]="true"
          [separateDialCode]="true"
          [numberFormat]="PhoneNumberFormat.National"
          name="phoneNumber"
          [id]="id"
          [formControl]="formControl"
          [(ngModel)]="phone"
          (input)="onInputChange($event)"
        >
        </ngx-intl-tel-input>
      }
    </nz-form-control>
    <div class="icon_result">
      @if (this.formControl?.touched && this.formControl?.errors) {
        <span
          nz-icon
          nzType="close-circle"
          nzTheme="fill"
          class="error-label"
        ></span>
      }
      @if (!this.formControl?.errors) {
        <span
          nz-icon
          nzType="check-circle"
          nzTheme="fill"
          class="valid_icon"
        ></span>
      }
    </div>
  </div>
</nz-form-item>
@if (formControl?.value && formControl?.errors) {
  <div class="error-label">Ingresa un número válido</div>
}
