<nz-form-item>
  {{phone | json }}
  <nz-form-label
    [nzSm]="24"
    [nzXs]="24"
    [nzRequired]="true"
    [nzNoColon]="true"
    [nzFor]="id"
    >{{ label }}</nz-form-label
  >
  <nz-form-control
    [nzSm]="14"
    [nzXs]="24"
    [nzErrorTip]="errorTip"
    [nzValidateStatus]="isValid()"
    nzHasFeedback
    class="control_phone"
  >
    <ngx-intl-tel-input
      [cssClass]="'intl-tel-input'"
      [preferredCountries]="preferredCountries"
      [enableAutoCountrySelect]="true"
      [enablePlaceholder]="true"
      searchCountryPlaceholder="Selecciona un pais"
      [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.Chile"
      [maxLength]="15"
      [phoneValidation]="true"
      [separateDialCode]="true"
      [numberFormat]="PhoneNumberFormat.National"
      name="phoneNumber"
      [value]="phone"
      [id]="id"
      (input)="onInputChange($event)"
    >
    </ngx-intl-tel-input>
  </nz-form-control>
</nz-form-item>
<!-- <div>
  <div class="alert alert-danger" *ngIf="!f.form.value.phone">Phone Number Required</div>
  <div *ngIf="f.form.value.phone && f.form.controls['phone'].errors">Invalid Phone Number</div>
</div> -->
<br>
<div><strong>Is input valid:</strong> <pre>{{ !formControl?.invalid }}</pre></div>
<div><strong>Is input touched:</strong> <pre>{{ formControl?.touched }}</pre></div>
<div><strong>Is form valid:</strong> <pre>{{ formControl?.valid }}</pre></div>
<div><strong>Form value:</strong> <pre>{{ formControl?.value | json }}</pre></div>
<div><strong>Form validation errors:</strong> <pre>{{ formControl?.errors | json }}</pre></div>