$primary-color: #218BC0;
$background-dark: #3D98C6;
$background-medium: #C9E3F0;
$background-light: #E9F4F9;
$background-content: #F1F2F2;
$font-color: #0F2029;
$font-subtitle-color: #53626A;
$border-color: #d4d4d4;
$border-color2: #40a9ff;
$shadow-color: rgba(24, 144, 255, 0.2);
$shadow-error-color: rgba(255, 77, 79, .2);
$icon-color: rgba(0, 0, 0, .85);
$error-color: #ff4d4f;
$valid-color: #52c41a;
$font-light: white;