@import '../../../styles/scss/variables.scss';
button {
  color: $primary-color;
  border-color: $primary-color;
  font-weight: bold;
  &:hover,
  &:active {
    border-color: $primary-color;
    color: $primary-color;
    box-shadow: 0 0 0 2px $shadow-color;
  }
  &:focus {
    color: $primary-color;
    border-color: $primary-color;
  }
}
